@import '~variable';

.container {
  position: absolute;
  top: @unit-sixfold - @unit-half;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: @liteblue-lite;
  .main {
    width: @width-main;
    padding-bottom: @unit-sixfold - @unit-half;
    margin: 0 auto;
  }
}
