{
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "react",
    "promise"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "globals": {

  },
  "parser": "babel-eslint",
  "rules": {
//    "strict": 0,
    "jsx-quotes": ["error", "prefer-double"],
  }
}
