@import '~variable';

@nav-height: 60px;
@card-width: 256px;
@width: 1090px;
@height: 320px;
@avatar-size: 100px;

.container {
  background-color: @lite-liter;
  .personal-banner {
    position: relative;
    background-color: @black;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: @height;
    padding: 180px 40px 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.5));
      background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.5));
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.5))
    }
    .personal-banner-info {
      position: relative;
      img {
        display: inline-block;
        width: @avatar-size;
        height: @avatar-size;
        width: @avatar-size;
        height: @avatar-size;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          //padding: 0;
          //width: @avatar-size - 8;
          //height: @avatar-size - 8;
          //margin-top: 4px;
          border-color: rgba(189, 157, 95, .7);
          //box-shadow: 0 0 14px @theme;
        }
      }
      .personal-info {
        position: relative;
        display: inline-block;
        margin-left: 26px;
        top: -@unit;
        .name {
          display: inline-block;
          margin-top: 12px;
          font-size: 22px;
          font-weight: 500;
        }
        .follow-btn {
          display: inline-block;
          cursor: pointer;
          font-size: 14px;
          text-align: center;
          width: 62px;
          height: 28px;
          line-height: 28px;
          border: 1px solid #fff;
          margin-left: 20px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .bio{
          margin-top: 10px;
          font-size: 12px;
          font-weight: 500;
          text-shadow: 0 0 4px rgba(0,0,0,0.5);
        }
        .slash-list{
          margin-top: 10px;
          font-size: 14px;
          font-weight: 500;
          .slash-item:before {
            content: '/';
            font-size: 12px;
            margin: 0 10px;
          }
          .slash-item:first-child:before {
            content: '';
            margin: 0;
          }
        }
      }
      .personal-act {
        float: right;
        margin-top: 67px;
        .message {
          display: inline-block;
          line-height: 32px;
          cursor: pointer;
          &:hover {
            color: @theme;
          }
          .icon-message {
            float: left;
            font-size: 32px;
            margin-right: 3px;
          }
          span {
            float: left;
          }
        }
        .act-more {
          display: inline-block;
          position: relative;
          margin: 0 3px 0 24px;
          .act-more-icon {
            float: right;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAEZJREFUWAnt0bEKACAIBUDt//+5HCMaAxvuTSGSckYIAQIECBBoFsjb/Fk561nZa696xv5px9sC7QIdZzeTAAECBAj8JbAAh9cMClonKqcAAAAASUVORK5CYII=");
          }
          ul.act-list {
            display: none;
            position: absolute;
            margin: 0;
            z-index: 1;
            bottom: 0;
            right: 0;
            width: 100px;
            border-bottom: 40px solid transparent;
            text-align: center;
            padding: 0;
            li {
              list-style: none;
              padding: 5px 15px;
              background-color: #222;
              color: #fff;
              &:hover {
                color: @theme;
                //background-color: @dark-dark;
              }
            }
            a {
              &:first-child li {
                padding-top: 15px;
              }
              &:last-child li {
                padding-bottom: 15px;
              }
            }
          }
          &:hover .act-list {
            display: block;
          }
        }
      }
    }
  }
  .navTop {
    width: 100%;
    height: @nav-height;
    position: relative;
    z-index: @zindex-subnav;
    border-right: 1px solid #E7EAF1;
    text-align: center;
    background-color: @white;
    border-bottom: 1px solid rgba(30,35,42,.06);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .navMenu {
      height: 29px;
      line-height: 28px;
      font-size: 14px;
      vertical-align: middle;
      display: inline-table;
      border-bottom: 2px solid transparent;
      margin-left: 22px;
      margin-right: 22px;
      &:hover {
        cursor: pointer;
        border-bottom-color: @theme;
        color: @theme;
      }
    }
    .active .navMenu {
      border-bottom-color: @theme;
    }
  }
  .main {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
    //align-content: flex-start;
    //width: @width;
    min-height: 600px;
    margin: 40px;
    ////border: 1px solid red;
    text-align: center;
    .card {
      position: relative;
      border: 1px solid #E7EAF1;
      background-color: @white;
      margin-bottom: 22px;
      //width: @card-width;
      height: @card-width;
      cursor: pointer;
      &:hover {
        .card-info {
          visibility: visible;
        }
      }
      img {
        width: auto;
        height: @card-width;
        object-fit: cover;
      }
      .card-info {
        position: absolute;
        visibility: hidden;
        //width: @card-width;
        height: @card-width;
        line-height: @card-width;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: @white;
        text-align: center;
      }
    }
  }
}