@import '~variable';

.container {
  position: absolute;
  top: @unit-fivefold;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: @lite-liter;
  .main {
    width: @width-main;
    margin: 26px auto 0;
    height: 709px;
    background-color: @white;
    border: 1px solid #E7EAF1;
    .nav-left {
      width: 253px;
      float: left;
      height: 100%;
      border-right: 1px solid #E7EAF1;
      .nav-menu {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        vertical-align: middle;
        &:before {
          width: 3px;
          content: '';
          display: inline-block;
          float: left;
          height: 100%;
          margin-right: 26px;
        }
        &:hover {
          cursor: pointer;
          background-color: #F5F5F5;
          &:before {
            background-color: #DBDBDB;
          }
        }
      }
      .active .nav-menu:before {
        background-color: @theme;
      }
      .active .nav-menu {
        font-weight: 600;
      }
    }
    .content {
      float: left;
    }
  }
  .footer {
    width: @width-main;
    margin: @unit-double auto @unit-fourfold;
    font-size: @fontsize-small;
    font-weight: 600;
    color: #003569;
  }
}
