@import '~variable';

@right-width: 632px;
@content-width: 460px;

.container {
  padding-top: 14px;
  padding-left: 56px;
  padding-right: 56px;
  width: 100%;
  overflow: hidden;
  .left {
    float: left;
    .title {
      width: @content-width;
      color: @dark-darker;
      font-size: @fontsize-medium-double;
      font-weight: @fontweight-medium;
      vertical-align: middle;
      line-height: 56px;
    }
    button {
      margin-top: 20px;
    }
  }
  .right {
    float: right;
    .upload-avatar {
      margin-top: 70px;
    }
  }
}