@import '~variable';

.cmui-select-dropdown {
  min-width: 160px;
  outline: none;
  line-height: 28px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 2px;
  position: relative;
  &:focus {
    border-color: @theme;
  }
  &.cmui-popover__trigger--disabled {
    &:focus {
      border-color: #ececec;
    }
  }
  &.cmui-dropdown-toggle--open {
    border-color: @theme;
    .cmui-select-dropdown__caret {
      color: @theme;
    }
  }
}

.cmui-select-dropdown--caretable {
  padding-right: 24px;
}

.cmui-select-dropdown__caret {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
}

.cmui-select-dropdown__popover {
  > .cmui-popover__content {
    max-width: none;
    padding: 0;
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
