@import '~variable';

@width: 460px;
@height: @unit-sixfold;
@input-height: @unit-double + 4;

.cmui-inputnew, .cmui-inputnew__active {
  padding-top: 20px;
  padding-bottom: 20px;
  .label {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #222;
  }
  input {
    width: @width;
    height: 40px;
    padding: 10px;
    outline: none;
    font-size: 13px;
    border: 2px solid @lite;
    margin-top: 12px;
  }
}

.cmui-inputnew__active {
  input {
    border-color: @medium-liter;
  }
}

//::-webkit-input-placeholder { color: @lite; }
//::-moz-placeholder { color: @lite; } /* firefox 19+ */
//:-ms-input-placeholder { color: @lite; } /* ie */
//input:-moz-placeholder { color: @lite; }
