@import '~variable';

@nav-height: 60px;
@width: 940px;

.container {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @lite-liter;
  .navTop {
    position: relative;
    width: 100%;
    height: @nav-height;
    z-index: @zindex-subnav;
    border-right: 1px solid #E7EAF1;
    text-align: center;
    background-color: @white;
    border-bottom: 1px solid rgba(30, 35, 42, .06);
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 1300px;
      font-size: 0;
      button {
        padding: 0 31px;
        &:first-child {
          margin-right: 12px;
        }
      }
      .left {
        float: left;
        font-size: 13px;
      }
      .right {
        float: right;
      }
    }
  }
  .upload {
    width: @width;
    min-height: 400px;
    margin: 40px auto 0;
    border: 1px solid #E7EAF1;
    background-color: @white;
    h2 {
      margin-top: 33px;
      text-indent: 22px;
      text-align: center;
    }
    ul {
      line-height: 33px;
      vertical-align: middle;
    }
  }
  .form {
    margin-top: 66px;
    min-height: 410px;
    background-color: @white;
    border-top: 1px solid #E7EAF1;
    padding-top: 30px;
    form {
      width: @width;
      margin: 0 auto;
      overflow: hidden;
      .left {
        float: left;
      }
      .right {
        float: right;
        & > div {
          overflow: hidden;
          .row {
            float: right;
            &:first-child {
              margin-left: 22px;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}