@import '~core';

.contianer {
  width: 300px;
  position: relative;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  & > div:first-child {
    color: @medium;
    font-size: 24px;
    font-weight: 300;
  }
}
