<!DOCTYPE html>
<html>
  <head>
    <title>{{blog.title}}</title>
    <!--<link rel="stylesheet" href="/dist/css/demo.css">-->
  </head>
  <body>
    <div id="app"></div>
    <script src="http://localhost:3001/dist/js/vendor.js"></script>
    <script src="http://localhost:3001/dist/js/login.js"></script>
  </body>
</html>