@import '~variable';

@ghost-color: @theme;
@ghost-color-hover: @theme-lite;

.btn {
  font-size: 13px;
}

.default {
  &:extend(.btn);
  color: @theme-dark;
  background-color: @theme-text;
}

.ghost {
  &:extend(.btn);
  font-size: @fontsize;
  font-weight: @fontweight-medium;
  color: @ghost-color;
  border: 1px @ghost-color solid;
  background-color: transparent;
  padding: 3px 27px;
  &:hover {
    color: @white;
    border-color: @ghost-color-hover;
    background-color: @theme-darker;
  }
}

.wide {
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  color: @theme-text;
  background-color: @theme-dark;
  &:hover {
    background-color: @theme-darker;
  }
}

.primary {
  &:extend(.wide);
  font-size: 14px;
  padding: 8px 28px;
  &:hover {
    background-color: @theme-darker;
  }
}