@import '~variable';

@default: 30px;
@large: 92px;

.cmui-avatarupload {
  position: relative;
  display: inline-table;
  margin-bottom: @unit-double;
  .cmui-avatarupload__cover {
    display: none;
  }
  &:hover {
    .cmui-avatarupload__cover {
      display: block;
      position: absolute;
      width: @large + 2;
      height: @large + 2;
      border-radius: 50%;
      line-height: @large + 2;
      color: @white;
      top: 0;
      left: 50%;
      margin-left: -(@large + 2)/2;
      cursor: pointer;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.cmui-avatarupload__circle__default {
  width: @default;
  height: @default;
  border-radius: 50%;
  border: 1px solid @lite-darker;
}

.cmui-avatarupload__circle__large {
  .cmui-avatarupload__circle__default();
  width: @large;
  height: @large;
  margin: 0 auto;
  margin-bottom: @unit-double;
  background-color: @lite-darker;
  color: @white;
  line-height: @large;
  text-align: center;
  font-size: 13px;
  img& {
    display: block;
    border: 1px solid @lite-dark;
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
  }
}