@import '~variable';

.container-base {
  position: fixed;
  box-sizing: content-box;
  z-index: @zindex-header;
  top: 0;
  width: 100%;
  height: @unit-fivefold;
  background-color: @white;
  color: @theme-dark;
  border-bottom: 1px solid #E7EAF1;
  & > div {
    height: @unit-fivefold;
  }
  .left {
    float: left;
    margin-left: @unit-triple;
    .logo {
      display: inline-table;
      height: @unit-fivefold;
      line-height: @unit-fivefold;
      vertical-align: middle;
      font-size: @fontsize-biger;
      font-family: @fontfamily-logo;
      font-weight: @fontweight-bold;
    }
  }
  .right {
    float: right;
    display: flex;
    align-items: center;
    margin-right: @unit-triple - 2px;
    .dropdown-wrapper {
      position: relative;
      right: 22px;
      cursor: pointer;
      div:first-child {
        position: relative;
        top: 13px;
        padding-bottom: 24px;
      }
      .avatar:hover {
        cursor: pointer;
      }
    }
  }
  .dropdown-container {
    display: none;
    float: right;
    position: absolute;
    top: 55px;
    left: -33px;
    flex-direction: column;
    justify-content: center;
    width: @unit-ninefold;
    height: 108px;
    border: 1px solid @lite-lite;
    background-color: @white;
    //box-shadow: 0 5px 20px rgba(0,34,77,.1);
    border-radius: 4px;
    padding-left: 0;
    li {
      list-style: none;
      line-height: @unit-triple;
      text-align: center;
      color: @medium-darkest;
      &:hover {
        background-color: @liteblue-lite;
      }
    }
  }
  .dropdown-wrapper:hover .dropdown-container {
    display: flex;
  }
  .dropdown-wrapper > .avatar { padding-bottom: 30px; }
}

.container-shadow {
  .container-base();
  border-bottom: 1px solid rgba(30,35,42,.06);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  background-clip: content-box;
}
