<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        {{#if user}}
          <a class="item" href="/articles?author={{user._id}}">个人主页</a>
          <div class="divider"></div>
          <a class="item" href="/articles/create">发表文章</a>
          <a class="item" href="/logout">登出</a>
        {{else}}
          <a class="item" href="/login">登录</a>
          <a class="item" href="/register">注册</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>